@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bbimg {
 height: 200px;
}

.randomimg {
  height: 300px;
  width: auto;
}

.card-body {
  padding-top: 5px;
  margin-top: 5px;
}

.card {
  margin-bottom: 100px !important;
}

.cocktail {
  height: 300px;
  width: auto;

}

#drink-btn {
  margin: 25px;
}

.button {
  margin: 25px;
}

.card-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; 
  font-size: 24pt;
}

.card-body {
  font-family: 'Roboto Slab', serif;
}
 #cocktail-pic {
  object-fit: contain;
  width: 50%;
  height: 50%;
  bottom: 50px;
  
  position: absolute;
}
#drink-btn{
  position: absolute;
  bottom: 50px;
  right: 600px
}

#cocktail{
  position: relative;
  top: 500px;
  right: 90px;
  color: blue;
}

#beer-btn{
  position:absolute;
  
 
}
#local-breweries{
  position: absolute;
  bottom: 300px;
  left: 400px
}

#pub-list{
  position: relative;
  top: 150px
}
