@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bbimg {
 height: 250px;
}

.randomimg {
  height: 300px;
  width: auto;
}

.card-body {
  padding-top: 5px;
  margin-top: 5px;
}

.card {
  margin-bottom: 100px !important;
  margin-top: 60px;
}

.cocktail {
  height: 400px;
  width: auto;

}

#drink-btn {
  margin: 25px;
}

.button {
  margin: 25px;
}

.card-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; 
  font-size: 24pt;
}

.card-body {
  font-family: 'Roboto Slab', serif;

}

 #cocktail-pic {
  height: 300px;
  width: auto;
}

#pub-list{
  position: relative;
  top: 150px
}

.welcome, p, h4 {
  font-family: 'Roboto Slab', Serif;
}

.searcher {
 margin-top: 65px;
}

#selection {
  width: 300px;
  text-align: center;
  font-size: 16pt;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  font-family: 'Roboto Slab', serif;
}

